[submodule "DOTA_devkit_YOLO"]
	path = DOTA_devkit_YOLO
	url = https://github.com/hukaixuan19970627/DOTA_devkit_YOLO
[submodule "yolov5_obb"]
	path = yolov5_obb
	url = https://github.com/hukaixuan19970627/yolov5_obb
[submodule "yolov5_annotations"]
	path = yolov5_annotations
	url = https://github.com/HuKai97/yolov5-5.x-annotations
[submodule "utils/Rotated_IoU_latest"]
	path = utils/Rotated_IoU_latest
	url = https://github.com/lilanxiao/Rotated_IoU
